<% @recipes.each do |recipe| %>
  <h5><div> <%= recipe.title %> </div></h5>
  <h5><b>Price:</b> <%= recipe.price %> </h5>
  <% if current_chef == @cuisine.chef %>
     <%= link_to "Edit Recipe", edit_cuisine_recipe_path(recipe.cuisine, recipe) %> |
    <%= link_to "Delete Recipe", [recipe.cuisine, recipe], method: :delete  %>
    <br>
    <br>
  <% end %>
<% end %>

<%= render 'recipes/form' %>
