<% if user_signed_in? or chef_signed_in? %>
  <div class="cuisine_background">
    <div class="cuisine_background-content">
      <h1>Cuisines</h1>
      <div class="box">
        <% @cuisines.each do |cuisine| %>
          <%= link_to cuisine do %>
            <div class="btn btn-secondary">  
              <%= cuisine.title %><br>
              <%= cuisine.about %><br>
              <%= cuisine.availability %><br>
              <%= cuisine.location %><br>
              <%= cuisine.city %><br> 
              <%= cuisine.address %><br> 
            </div> 
          <% end %>
        <% end %>
      </div>
      <br>
      <% if chef_signed_in? %>
        <%= link_to 'New Cuisine', new_cuisine_path, class: 'btn btn-warning' %>
      <% end %>
    </div>
  </div>
<% end %>
