<p id="notice"><%= notice %></p>

<h1>Cuisines</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cuisines.each do |cuisine| %>
      <tr>
        <td><%= link_to cuisine.title, cuisine %></td>
        <% if chef_signed_in? %>
          <td><%= link_to 'Edit', edit_cuisine_path(cuisine) %></td>
          <td><%= link_to 'Destroy', cuisine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if chef_signed_in? %>
  <%= link_to 'New Cuisine', new_cuisine_path %>
<% end %>
