<div class="cuisine_chefs">
   <br> <%= link_to '&#x276e;'.html_safe, cuisines_path, class: 'btn btn-secondary btn-circle' %> <br><br>
  <div class="navbar-nav mr-0 ml-lg-auto">
    <h1> <%= @cuisine.title %> </h1>
    About: <%= @cuisine.about %><br>
    Availability: <%= @cuisine.availability %><br>
    Location: <%= @cuisine.location %><br>
    <li><% if current_chef == @cuisine.chef %>
    <%= link_to 'Edit', edit_cuisine_path(@cuisine) %> |
    <%= link_to 'Delete', @cuisine, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %></li>
  </div>
</div>


<br><br>


<h1>Menu</h1>
  <%= render 'recipes/recipe' %>
    <br><br>

    <% if user_signed_in? or current_chef == @cuisine.chef %>
      <h2>Reservations:</h2>
      <%= render 'reservations/reservation' %>
    <% end %>

<br>

  <h2>Reviews:</h2>
  <%= render 'reviews/review' %>

<br>
<%= render '/layouts/footer' %>
