<p id="notice"><%= notice %></p>

<p>
  <h2>Title</h2>
  <%= @cuisine.title %>
  <br>
  <h2>About</h2>
  <%= @cuisine.about %>
  <br>
  <h2>Availability</h2>
  <%= @cuisine.availability %>
  <br>
  <h2>Location</h2>
  <%= @cuisine.location %>
  <br>
</p>

<% if current_chef == @cuisine.chef %>
  <%= link_to 'Edit', edit_cuisine_path(@cuisine) %> |
  <%= link_to 'Destroy', @cuisine, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', cuisines_path %>
<% end %>

<br>
<br>


<h1>Menu</h1>
<%= render 'recipes/recipe' %>

<br>
<br>
<% if user_signed_in? or current_chef == @cuisine.chef %>
  <h2>Reservations</h2>
  <%= render 'reservations/reservation' %>
<% end %>
