<p id="notice"><%= notice %></p>

<p>
  <%= @cuisine.title %>
  <br>
  <%= @cuisine.about %>
  <br>
  <%= @cuisine.availability %>
  <br>
  <%= @cuisine.location %>
  <br>
  <%= @cuisine.average_price %>
</p>

<%= link_to 'Edit', edit_cuisine_path(@cuisine) %> |
<%= link_to 'Back', cuisines_path %>
