<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="/"><%= image_tag 'logo.png', width: '100' %></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav">
     <li class="nav-item"><%= link_to 'Cuisine', cuisines_path, class: 'nav-link' %></li>
    </ul>

<ul class="nav navbar-nav navbar-logo mx-auto">
    <li class="nav-item"> <%= form_tag cuisines_path, :method => 'get' do %>
      <%= text_field_tag :search, nil, placeholder: "Search cuisines here" %>
      <%= submit_tag "Search", class: 'btn btn-outline-secondary' %>
    <% end %>
    </li>
</ul>

    <ul class="nav navbar-nav pull-right">
      <li class="nav-item"><%= link_to 'Settings', edit_chef_registration_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'Sign Out', destroy_chef_session_path, :method => :get, class: 'nav-link' %></li>
    </ul>
  </div>
</nav>
